body{
  margin-left: 10%;
  margin-right: 10%;
}

form{
  background-color: #777;
  text-align: center;
  padding: 5% 15% 5% 5%;
  display: inline-block;
  border-radius: 10px;
  font-size: 1.3em;
}

input.input-texto{
  margin: 8% 8%;
  width: 100%;
  font-size: 1.0em;
}


