body{
  margin-left: 10%;
  margin-right: 10%;
  font-family: Arial;
  background-color: #f2f2f2;
}

form{
  background-color: #777;
  text-align: center;
  padding: 5% 15% 5% 5%;
  display: inline-block;
  border-radius: 10px;
  font-size: 1.3em;
}

input.input-texto{
  margin: 8% 8%;
  width: 100%;
  font-size: 1.0em;
}

.section_1{
  width: 50%;
}

.section_2{
  width: 50%;
  display: inline-block;
}

.border{
  
}

.back_white{
  background-color: #FFF;
}
